
:root {
    --black-blue-color: #06283D;
    --light-blue-color: #dff6ff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-blue-color);
}

img {
    max-width: 100%;
}

.wt-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1em;
    max-width: 400px;
    height: 105px;
    padding: 1.5em 2em;
    border-radius: 14px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    transition: 0.6s ease;
}

.wt-card__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wt-card__search input {
    max-width: 70%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 28px;
}

.wt-card__search input::placeholder {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.wt-card__search button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--light-blue-color);
    font-size: 22px;
    color: var(--black-blue-color);
    transition: 0.5s ease-out;
}

.wt-card__search button:hover {
    background-color: var(--black-blue-color);
    color: white;
}

.wt-card__search i {
    font-size: 28px;
    color: var(--black-blue-color);
}

.wt-card__current {
    text-align: center;
}

.wt-card__current img {
    width: 70%;
}

.wt-card__current-temperature {
    color: var(--black-blue-color);
    font-size: 4rem;
    font-weight: 800;
}

.wt-card__current-description {
    color: var(--black-blue-color);
    font-size: 20px;
    font-weight: 500;
}

.wt-card__details {
    margin-top: 4em;
    margin-bottom: 1em;
    padding: 0.3em 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.humidity,
.wind {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.wt-card__details span {
    color: var(--black-blue-color);
    font-weight: 500;
    font-size: clamp(18px, 3vw, 24px);
}

.wt-card__details p {
    color: var(--black-blue-color);
    font-weight: 500;
    font-size: clamp(13px, 1.5vw, 15px);
}

.wt-card__details i {
    color: var(--black-blue-color);
    font-size: clamp(22px, 2.5vw, 27px);
}

.wt-card__current,
.wt-card__details {
    opacity: 0;
    scale: 0;
} 

.wt-card__not-found {
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
}

.wt-card__not-found p {
    color: var(--black-blue-color);
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}